<!--
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="Stylesheet" href="/stylesheets/jHtmlArea.css" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <section class="container">
      <span>URL : </span> <input type="text" placeholder="Insert your link here...">
      <button id="submit"> Submit </button>
      <button id="switch"> Html View </button>
      <div class="content">
        <h3 id="title">Captora Elements</h3>
        <span><button id="titlebtn">Add $title</button><span class="undo" id="undo_title"><i class="fa fa-undo" aria-hidden="true"></i></span></span>
        <span class="m-l-20"><button id="trackbtn">Add Track.js</button><span class="undo" id="undo_track"><i class="fa fa-undo" aria-hidden="true"></i></span></span>
        <span class="m-l-20"><button id="modalbtn">Add Modal.css</button><span class="undo" id="undo_modal"><i class="fa fa-undo" aria-hidden="true"></i></span></span>
        <span class="m-l-20"><button id="actionme">Add Modal.css</button><span class="undo" id="undo_modal"><i class="fa fa-undo" aria-hidden="true"></i></span></span>
      </div>
    </section>

    &lt;!&ndash;<textarea style="width:100%; height: 800px"></textarea>&ndash;&gt;

    &lt;!&ndash;<iframe src="/request?url=https://www.captora.com" id='iframeelm' style="width:100%; height: 800px" sandbox="allow-scripts allow-same-origin"></iframe>&ndash;&gt;
    <iframe id='iframeelm' sandbox="allow-scripts allow-same-origin"></iframe>
    <textarea name="textareaelm" cols="30" rows="10" id='textareaelm' value='test' ></textarea>

    <div id="mainbody" style="display: none;">

    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    &lt;!&ndash;<script type="text/javascript" src="javascripts/jHtmlArea-0.8.js"></script>&ndash;&gt;
    <script src="javascripts/mainScript.js"></script>
  </body>
</html>
-->




<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Captora - Bootstrap Admin Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/stylesheets/css/sb-admin.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">

  <!-- Morris Charts CSS -->
  <link href="/stylesheets/css/plugins/morris.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="main-navbar-infinity-logo"></div>
      <a class="navbar-brand" href="index.html">Captora</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
        <ul class="dropdown-menu message-dropdown">
          <li class="message-preview">
            <a href="#">
              <div class="media">
                <span class="pull-left">
                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                </span>
                <div class="media-body">
                  <h5 class="media-heading"><strong>Hamid Hoseini</strong>
                  </h5>
                  <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                  <p>Lorem ipsum dolor sit amet, consectetur...</p>
                </div>
              </div>
            </a>
          </li>
          <li class="message-preview">
            <a href="#">
              <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                <div class="media-body">
                  <h5 class="media-heading"><strong>Hamid Hoseini</strong>
                  </h5>
                  <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                  <p>Lorem ipsum dolor sit amet, consectetur...</p>
                </div>
              </div>
            </a>
          </li>
          <li class="message-preview">
            <a href="#">
              <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                <div class="media-body">
                  <h5 class="media-heading"><strong>Hamid Hoseini</strong>
                  </h5>
                  <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                  <p>Lorem ipsum dolor sit amet, consectetur...</p>
                </div>
              </div>
            </a>
          </li>
          <li class="message-footer">
            <a href="#">Read All New Messages</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
        <ul class="dropdown-menu alert-dropdown">
          <li>
            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
          </li>
          <li>
            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
          </li>
          <li>
            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
          </li>
          <li>
            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
          </li>
          <li>
            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
          </li>
          <li>
            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Hamid Hoseini <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li class="active">
          <a href="index.html"><i class="fa fa-cogs" aria-hidden="true"></i> Generator</a>
        </li>
        <li>
          <a href="#" id="switchhtml"><i class="fa fa-file-code-o" aria-hidden="true" ></i> Html View</a>
        </li>
        <li>
          <a href="#" id="switchdesign"><i class="fa fa-eye" aria-hidden="true" ></i> Design View</a>
        </li>
        <li>
          <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
<!--        <li>
          <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
        </li>
        <li>
          <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
        </li>
        <li>
          <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
        </li>
        <li>
          <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
        </li>
        <li>
          <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
        </li>-->
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Captora Elements <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="collapse">
            <li>
              <a href="#" id="titlebtn">Add $title</a>
            </li>
            <li>
              <a href="#" id="trackbtn">Add Track.js</a>
            </li>
            <li>
              <a href="#" id="modalbtn">Add Modal.css</a>
            </li>
            <li>
              <a href="#" id="actionme">Fix Absolute Links</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper">

    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Template Generator
          </h1>
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="index.html">Captora</a>
            </li>
            <li class="active">
              <i class="fa fa-file"></i> Template Generator
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->


      <div class="row">
        <div class="col-lg-6">

          <form role="form">

            <div class="form-group">
              <label>URL</label>
              <input class="form-control">

              <p class="help-block">Insert your URL here to fetch its content.</p>
            </div>
          </form>
        </div>
        <div class="col-lg-6 m-t-25">
          <button type="submit" class="btn btn-default" id="submit">Submit</button>
          <button type="button" class="btn btn-default" id="save"> Save </button>
        </div>
      </div>

      <iframe id='iframeelm' sandbox="allow-scripts allow-same-origin"></iframe>
      <textarea name="textareaelm" cols="30" rows="10" id='textareaelm' value='test' class="form-control" ></textarea>
    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/javascripts/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<!--<script src="/javascripts/js/plugins/morris/raphael.min.js"></script>-->
<!--<script src="/javascripts/js/plugins/morris/morris.min.js"></script>-->
<!--<script src="/javascripts/js/plugins/morris/morris-data.js"></script>-->

<!-- Custom JavaScript -->
<script src="javascripts/mainScript.js"></script>

</body>

</html>
